* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

:root {
  --accent-07: #3DBDA7;
  --primary-10 : #00453F;
  --second-10: #1D1E22;
}

#Dark {

}

body {
  display: grid;
  
  height: 100vh;
  width: 100vw;

  border-radius: 45px;
  background: linear-gradient(140deg, #003E38 10.69%, rgba(0, 62, 56, 1.00) 20.26%, rgba(1, 78, 70, 1.00) 30.76%, rgba(0, 118, 106, 1.00) 40.02%, rgba(0, 78, 70, 0.94) 54.12%, rgba(3, 81, 73, 0.95) 55.88%, rgba(0, 62, 56, 0.98) 78.08%, #002924 83.04%);
}

/* barra options */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid red;
  width: 100%;
  height: fit-content;
}

header h1 {
  color: #FFF;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
}

header h1 span {
  color: #3DBDA7;
  font-size: 2rem;
}

#search {
  display: flex;
  align-items: center;

  gap: 3px;
  width: 21rem;
  height: 2.5rem;
  border-radius: 2rem;

  background:  #00453F;
}

#search img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 5px 0 1.5rem;
}

#search input {
  height: 1.5rem;
  width: 90%;
  
  border-radius: 1.875rem;
  background:  #00453F;
  outline: none;

  color: #FFF;
  font-size: 0.75rem;
  font-weight: 500;
  opacity: 0.7;
}

#seacrch input::placeholder {
  color: #FFF;
  opacity: 0.7;
}

.options button {
  width: 3rem;
  height: 3rem;

  border-radius: 50%;
  background: #00453F;
}

.options button img {
  width: 1.2rem;
  height: 1.2rem;
}

/* sider bar left */
#navbar-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  position: absolute;
  float: left;

  bottom: 12px;
  left: 15px;
  width: 5rem;
  height: 96%;
  border-radius: 2rem;

  background: var(--primary-10);
  backdrop-filter: blur(23px);
}

.logo, .Add {
  width: 2.6rem;
}

.btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
  height: fit-content;
}

.btn button {
  display: grid;
  justify-content: center;
  align-items: center;

  width: 3rem;
  height: 3rem;
  border-radius: 3rem;

  background: transparent;
}

.btn button img {
  width: 1.2rem;
  height: 1.2rem;
}

#sms {
  background: var(--accent-07, #3DBDA7); 
}

/* Barra right de friends */

#user-friends {
  display: flex;
  flex-direction: column;

  position: absolute;
  right: 15px;
  bottom: 12px;

  gap: 3%;
  height: 97%;
  width: 4rem;
}

.avatares {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-content: center;
  gap: 7px;

  width: 100%;
  height: 71%;
  border-radius: 1.5rem;
  background: var(--primary-10, #00453F);
}

.profille {
  width: 70%
}

.Grup {
  width: 50%;
}

.AmigosOn {
  width: 65%;
}

.AmigosOff {
  width: 55%;
}

/* Batepapo */
.batepapo {
  display: grid;
  justify-content: center;
  align-items: center;

  background: var(--primary-10, #00453F);

  width: 100%;
  height: 26%;
  border-radius: 1.5rem;
}

.batepapo button {
  display: grid;
  justify-items: center;
  align-items: center;

  background: #989898;

  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.Kinight, .PapoOn {
  width: 100%;
}

/* Principais Sections */
main {
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 90vh;

  width: 84%;
}

.ContainerOne {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 1rem;

  background-color: black;
}

.ContainerOne img {
  
}

.popular {
  display: flex;

  width: 100%;
  height: 80%;
  border-radius: 2.5rem;

  background: url(./Assets/Background/fav.jpg) top no-repeat;
  background-size: cover;
  
}

.ContainerTwo {
  background-color: #FFF;
}



.Protagonista img {
  width: 50%;
}